<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>merchantcode</param-name>
        <param-value>PMobile</param-value>
    </context-param>
    <context-param>
        <param-name>authcode</param-name>
        <param-value>1X4@wir&amp;4K!</param-value>
    </context-param>
    <context-param>
        <param-name>servicepoint</param-name>
        <param-value>https://merchantapi.apac-test.paywithpoli.com/MerchantAPIService.svc</param-value>
    </context-param>
    <filter>
        <filter-name>financialinstfilter</filter-name>
        <filter-class>com.polidemo.financialinstfilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>financialinstfilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>com.polidemo.helpers.PersistanceAppListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>initiatetransaction</servlet-name>
        <servlet-class>com.polidemo.initiatetransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>com.polidemo.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notify</servlet-name>
        <servlet-class>com.polidemo.NotifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>receipt</servlet-name>
        <servlet-class>com.polidemo.receipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>merchant</servlet-name>
        <servlet-class>com.polidemo.merchant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transaction</servlet-name>
        <servlet-class>com.polidemo.transaction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>initiatetransaction</servlet-name>
        <url-pattern>/initiatetransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notify</servlet-name>
        <url-pattern>/notify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>receipt</servlet-name>
        <url-pattern>/receipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>merchant</servlet-name>
        <url-pattern>/merchant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transaction</servlet-name>
        <url-pattern>/transaction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <persistence-context-ref>
        <persistence-context-ref-name>persistence/em</persistence-context-ref-name>
        <persistence-unit-name>polisoapclientv1PU</persistence-unit-name>
    </persistence-context-ref>
</web-app>
